* {
    background-color:   #041b2c;
    color: white;
  }
  

  
  .reset{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
  
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
  }