.homePage {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-left: 10px;
  font-size: larger;
  align-items: center;

  &_left {
    flex: 1;
  }
  &_right {
    flex: 1;
    
    
  }

}
