.navbar {
  
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  padding: 20px;
  
 
  

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px; 
    

    &__elements:hover{
      color:#7EDFF2 
    }

    
    
  

  
  }
}
